In [1]:
import pandas as pd
from seminar_2_major_assignment.config import PROCESSED_DATA_DIR

# Load processed data
df = pd.read_csv(PROCESSED_DATA_DIR / "dataset.csv")

# Basic analysis
df.head()

2026-01-29 13:12:48.258 | INFO     | seminar_2_major_assignment.config:<module>:11 - PROJ_ROOT path is: /Users/ebader2/ds-projects/seminar_2_major_assignment

,name,year,arealand_sqmi,education_b15003_001e,education_b15003_lt9th,education_b15003_9th_to_12thnodiploma,education_b15003_hsgrad_and_ged,education_b15003_somecollegenodegree,education_b15003_021e,education_b15003_022e,...,population_s1810_c01_060e,population_s1810_c01_064e,population_s1810_c01_067e,population_s1810_c02_019e,population_s1810_c02_029e,population_s1810_c02_039e,population_s1810_c02_047e,Shape_Length,Shape_Area,shape_wkt
0,Allston,2025.0,1.377620,18341.0,334.843644,193.926605,2594.833214,1098.593563,596.635956,7997.233833,...,283.110,724.139,308.814,328.980,481.214,1641.274,773.685,0.113841,0.000390,NaN
1,Back Bay,2025.0,0.511202,14235.0,118.099429,50.905669,718.195275,586.067360,220.801314,5876.562967,...,197.736,138.935,336.164,315.616,246.043,756.821,490.281,0.054831,0.000145,NaN
2,Beacon Hill,2025.0,0.277307,7537.0,112.768853,19.550000,146.872565,568.415557,140.413713,3079.942032,...,3.726,25.960,3.726,97.057,85.712,168.160,325.606,0.037224,0.000080,NaN
3,Brighton,2025.0,2.713007,39238.0,1345.894929,1189.355076,3916.307706,2925.411740,1206.391876,15884.339320,...,1249.237,707.979,1815.914,1601.521,1060.961,3494.110,2632.185,0.152514,0.000809,NaN
4,Charlestown,2025.0,1.353655,14997.0,309.443348,565.762779,1999.228235,1068.827911,471.979849,5240.451669,...,192.314,249.761,408.200,578.522,371.963,550.951,904.650,0.110220,0.000521,NaN

In [2]:
df["education_b15003_lt9th"].mean()

np.float64(1349.214888648261)

In [3]:
df.describe()

,year,arealand_sqmi,education_b15003_001e,education_b15003_lt9th,education_b15003_9th_to_12thnodiploma,education_b15003_hsgrad_and_ged,education_b15003_somecollegenodegree,education_b15003_021e,education_b15003_022e,education_b15003_gradprofdegree,...,population_s1810_c01_060e,population_s1810_c01_064e,population_s1810_c01_067e,population_s1810_c02_019e,population_s1810_c02_029e,population_s1810_c02_039e,population_s1810_c02_047e,Shape_Length,Shape_Area,shape_wkt
count,23.0,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,...,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,24.000000,24.000000,0.0
mean,2025.0,2.053131,21405.913043,1349.214889,962.044307,3781.014729,2388.491982,993.765668,6229.809178,5701.224463,...,545.702783,584.134870,847.808565,762.165478,712.249348,1819.344348,1955.942348,0.145205,0.000656,NaN
std,0.0,1.970364,17363.886083,1915.787974,1289.848512,4845.036442,2923.325250,1094.621141,4349.758503,3807.013286,...,552.726263,680.607347,867.762358,754.648423,808.260155,2058.739507,2315.615644,0.094354,0.000599,NaN
min,2025.0,0.110478,560.000000,11.495455,11.495455,40.108059,43.177171,32.861538,181.437930,207.848635,...,0.156000,10.272000,0.156000,22.277000,12.288000,45.902000,70.460000,0.029770,0.000031,NaN
25%,2025.0,0.556365,8885.000000,223.100684,161.076884,869.080749,577.241459,269.908814,3017.542998,3213.447873,...,174.931500,174.091000,260.988000,322.011000,215.897000,578.383500,516.209000,0.059810,0.000164,NaN
50%,2025.0,1.353655,17687.000000,638.716700,726.125879,2594.833214,1149.504229,596.635956,5585.970305,5021.336423,...,473.536000,568.350000,595.852000,578.522000,588.256000,1489.579000,1466.286000,0.133281,0.000528,NaN
75%,2025.0,3.057795,30144.000000,1489.255559,1088.390401,4590.532914,2972.584760,1282.699491,8104.284143,7777.543813,...,716.776000,684.649000,1219.490000,974.831500,929.834500,2150.985000,2463.902000,0.215207,0.000955,NaN
max,2025.0,7.277603,83140.000000,8250.956696,5696.874137,22499.639915,13495.939395,4868.979707,16141.885903,14181.954945,...,2334.093000,3176.531000,3701.949000,3537.585000,3750.528000,9780.864000,10777.181000,0.368378,0.002224,NaN